/* Default */
body {
  font-family: 'Open Sans', Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: none;
   width: 100% !important;
   min-width: 100%;
   -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
   height: 100%;
   margin: 0;
   Margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

body,
table.body,
p,
td,
th,
a {
  font-weight: normal; }


table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', Arial, sans-serif;
  mso-height-rule: exactly; 
  text-align: left;
  color: #595655;
}

p {
  font-size: 14px; 
  line-height: 20px;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-family: 'Open Sans', Arial, sans-serif;
}
/* End Default */

.content-wrapper {
  border-collapse:collapse;
  border: none;
  padding: 0;
  margin: 0;
}

a.footer {
  color: #888888 !important;
  text-decoration: none ;
  font-weight: 100 !important;
}

a,
a > span {
  color: #7EC4C1;
  text-decoration: none !important;
}


/* What it does: Remove spaces around the email design added by some email clients. */
/* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
html, body {
  margin: 0 !important;
  Margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
/* What it does: Stops email clients resizing small text. */
*:not(meta):not(title):not(link):not(style):not(head) {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
/* What it does: Forces Outlook.com to display emails full width. */
.ExternalClass {
width: 100%;
}
/* What is does: Centers email on Android 4.4 */
div[style*="margin: 16px 0"] {
margin:0 !important;
}
/* What it does: Stops Outlook from adding extra spacing to tables. */
table, td {
mso-table-lspace: 0pt !important;
mso-table-rspace: 0pt !important;
}
/* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
table {
border-spacing: 0 !important;
border-collapse: collapse !important;
table-layout: fixed !important;
Margin: 0 auto !important;
}
table table table {
table-layout: auto;
}
/* What it does: Uses a better rendering method when resizing images in IE. */
img {
-ms-interpolation-mode:bicubic;
}
/* What it does: Overrides styles added when Yahoo's auto-senses a link. */
.yshortcuts a {
border-bottom: none !important;
}
/* What it does: Another work-around for iOS meddling in triggered links. */
a[x-apple-data-detectors] {
color:inherit !important;
}

/* Button */
.button-td {
  padding: 12px 18px 12px 18px;
  border-radius: 0;
}

.button,
.button span {
  font-size: 16px;
  font-family: 'Open Sans', Arial, san-serif;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none; 
  display: inline-block;
}

/* Other */

.samsung-address {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.no-link-style,
.no-link-style > span {
  font-weight: normal;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #595655;
  text-decoration: none;
}

/* Zurb Ink grid */
table.body {
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 580px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

td.columns,
td.column,
th.columns,
th.column {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 16px; }
  td.columns .column,
  td.columns .columns,
  td.column .column,
  td.column .columns,
  th.columns .column,
  th.columns .columns,
  th.column .column,
  th.column .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    td.columns .column center,
    td.columns .columns center,
    td.column .column center,
    td.column .columns center,
    th.columns .column center,
    th.columns .columns center,
    th.column .column center,
    th.column .columns center {
      min-width: none !important; }

td.columns.last,
td.column.last,
th.columns.last,
th.column.last {
  padding-right: 16px; }

td.columns table:not(.button),
td.column table:not(.button),
th.columns table:not(.button),
th.column table:not(.button) {
  width: 100%; }

td.large-6,
th.large-6 {
  width: 274px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-6.first,
th.large-6.first {
  padding-left: 16px; }

td.large-6.last,
th.large-6.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-6,
.collapse > tbody > tr > th.large-6 {
  padding-right: 0;
  padding-left: 0;
  width: 290px; }

.collapse td.large-6.first,
.collapse th.large-6.first,
.collapse td.large-6.last,
.collapse th.large-6.last {
  width: 298px; }

td.large-6 center,
th.large-6 center {
  min-width: 242px; }

.body .columns td.large-6,
.body .column td.large-6,
.body .columns th.large-6,
.body .column th.large-6 {
  width: 50%; }

table.text-center,
th.text-center,
td.text-center,
h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center,
h5.text-center,
h6.text-center,
p.text-center,
span.text-center {
  text-align: center; }

img.float-center,
img.text-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

table.float-center,
td.float-center,
th.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

/* 
 * Media Queries go into the index.html file beause
 * the CSS Inliner task can't handle them from external files
 */

